@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font family variables */
  --font-poppins: "Poppins", sans-serif;
  --font-knight: "Knight Vision", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-akzidenz: "akzidenz grotesk", sans-serif;
  --font-trade: "trade gothic", sans-serif;
  --font-chronicle: "chronicle", serif;
  --font-engravers: "engravers gothic", sans-serif;
  --font-hand: "hand", cursive;
  --font-handley: "handley rough", cursive;
  --font-bisquit: "bisquit regular", sans-serif;
  --font-radikal: "radikal", sans-serif;
  --font-fmbolyar: "fmbolyar pro", sans-serif;
  --font-interstate: "interstate", sans-serif;
}

@font-face {
  font-family: "Knight Vision";
  src: url("/fonts/KnightVision.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "akzidenz grotesk";
  src: url("/fonts/akzidenz-grotesk/akzidenz-grotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bisquit regular";
  src: url("/fonts/bisquit-regular/bisquit-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "chronicle";
  src: url("/fonts/chronicle/chronicle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "engravers gothic";
  src: url("/fonts/engravers-gothic/engravers-gothic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hand";
  src: url("/fonts/hand/hand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interstate";
  src: url("/fonts/interstate/interstate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "handley rough";
  src: url("/fonts/handley-rough/handley-rough.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "radikal";
  src: url("/fonts/radikal/radikal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "trade gothic";
  src: url("/fonts/trade-gothic/trade-gothic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fmbolyar pro";
  src: url("/fonts/fmbolyar-pro/fmbolyar-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-brand hover:bg-accent text-white;
  }

  .btn-text {
    @apply text-navy bg-transparent;
  }

  .top-header {
    @apply text-4xl lg:text-6xl font-bold tracking-tighter py-2 bg-gradient-to-r from-brand to-accent bg-clip-text text-transparent mt-4 font-knight;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif;
   */
  /* font-family: "Knight Vision", sans-serif; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
